<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/a9202ecaa2.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Document</title>
</head>
<body class="body">
    <header class="header">
        <span class="logos"><img class="logo" src="/img/logo-mercado-liebre.svg" alt="">
            <h3 class = "dinero"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h3></span>
        
        <form>
            <span class="search">
            <span class="lupa" href="" target=""><i class="fas fa-search"></i></span>
            <input class="buscador" type="text" name="buscar" placeholder="Buscar productos, Marcas">
            </span>  
        </form>
        
        <nav class = "nav">
           <ul>
            <li><a href="">Ofertas</li></a>
            <li><a href="">Tiendas oficiales</li></a>
            <li><a href="">Vender</li></a>
            <li><a href="">Ayuda</li></a>
           </ul> 

        
           <ul> 
            <li><span><a href= "/register">Crea tu cuenta</a><i class="far fa-address-card"></i></span></li>
            <li><span><a href= "/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></span></li>
            <li><span><a href= "/">Tus compras</a><i class="fas fa-shopping-basket"></i></span></li>
           </ul> 
        </nav>
        <div>
            <i class="fas fa-bars"></i>
            </div>

    </header>

    <main class="registerMain">
        <form class="registerForm" action="/">
            <label class="Rlabel"  for="Nombre">Nombre y Apellido</label>
            <input class="Rinput"type="text" placeholder="Ej: Roberto Sanchez" minlength="1" name="Nombre">

            <label class="Rlabel"  for="Usuario">Nombre de usuario</label>
            <input class="Rinput" type="text" minlength="4" maxlength="10" placeholder="Ej: RobertoSa" name="Usuario">

            <label class="Rlabel"  for="Fecha">Fecha de nacimiento</label>
            <input class="Rinput" type="date" name="Fecha">

            <label class="Rlabel"  for="Domicilio">Domicilio</label>
            <input class="Rinput" type="text" placeholder="Avenida Brasil" name="Domicilio">
            
            <label  class="Rlabel" for="perfil">Elige perfil de usuario</label>
            <select   class="Rinput" name="perfil" >
                    <option class="Rinput" value="Comprar">Comprar</option>
                    <option class="Rinput" value="Vender">Vender</option>
            </select>
            
           

            <div class="interes">
                <h2>Categorias de interes</h2> <br>
            
                <label class="Rlabel"  for="Interes1">Electro</label>
                <input class="Rinput" type="checkbox" id="Interes1" name="interes">
           
                <label class="Rlabel"  for="Interes2">Moda</label>
                <input class="Rinput" type="checkbox" id="Interes2" name="interes">
           
                <label class="Rlabel"  for="Interes3">Hogar</label>
                <input class="Rinput" type="checkbox" id="Interes3" name="interes">
          
                <label class="Rlabel"  for="Interes4">Jugeteria</label>
                <input class="Rinput" type="checkbox" id="Interes4" name="interes">
            
                <label class="Rlabel"  for="Interes5">Vida Sana</label>
                <input class="Rinput" type="checkbox" id="Interes5" name="interes">
         
            </div>

            <label class="Rlabel"  for="foto">Elige foto de Usuario:</label>
            <input class="Rinput" type="file" id="foto" accept=".jpg" name="foto">

            <label class="Rlabel"  for="password">Contraseña:</label>
            <input class="Rinput" type="password" minlength="4" maxlength="8" id="password" name="password"><br>

            <label class="Rlabel"  for="confirm">Confirma Contraseña:</label>
            <input class="Rinput" type="password" minlength="4" maxlength="8" id="confirm" name="confirm"><br><br><br><br>

            <input class="Rinput" class="botonSend" type="submit" value="Enviar"><br>
            <input class="botonReset" type="reset" value= "Borrar">

        </form>

    </main>


    <footer class="alineado">
        <section >
        <span class="icon" ><i class="far fa-credit-card"></i></span>
        <h3 class="titulo">Pagá con tarjeta o en efectivo</h3>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
        <span class="icon" ><i class="fas fa-gift"></i></span>
        <h3 class="titulo">Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>  
        </section>

        <section>
        <span class="icon" ><i class="fas fa-user-shield"></i></span>
        <h3 class="titulo">Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p> 
        </section>

        <section>
            
        <h3 class="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>