.header{
    background-color: var(--color-amarillo);
    
}
.header div{
    background-color: var(--color-celeste);
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 50%;
}
.header ul {
    font-weight: bold;
}
.lupa{
    background-color: var(--gris-claro);
    border-radius: 2px;
    border: solid 1px black;
    margin-top: 20px;
    
}
.logo {
    width: 25%;
}