.header{
    background-color: var(--color-amarillo);
    width: 100%;
}
.header div{
    text-align: center;
    padding: 10px 0;
}
.header div i{
    background-color: var(--color-celeste);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
}
*{
    text-decoration: none;
}
.header ul li {
     margin: 5px;
     display: none;
}
.dinero{
    display: flex;
    justify-content: end;
    margin: 13px;
    width: 44%;
}
.header ul {
    font-weight: bold;
    list-style: none;
    display: flex;
    
}
.lupa{
    background-color: var(--gris-claro);
    border-radius: 2px;
    border: solid 1px black;
 
    
}
.logos{
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 10px;
}
.buscador {
    display: flex;
    flex-wrap: wrap;
}
.search{
    display:flex
   
}
@media(min-width: 361px){ 
.header ul li{
    display: flex;
}
.header div i{
    display: none;
}
}