/* al body hay que darle un backgroud color gris claro,  y a la descripcionn del producto (h4) en el article hay que darle 20px de padding top */
main {
    width: 90%;
    margin: 0 auto;
    background-color: var(--gris-claro);
}
main section article {
    background-color: white;
    margin: 10px 0;
}
main section article img{
    display: block;
    width: 100%;
}
main section article .oferta{
    font-family: var(--tipografia);
    font-size: var(--descuentos-descripciones);
}
main section article .precio{
    font-family: var(--tipografia);
    font-size: var(--precios);
    
}
main section article .descripcion {
    font-family: var(--tipografia);
    font-size: var(--descuentos-descripciones);
    padding-top: 20px;
}
main section article .tituloMain {
    font-family: var(--tipografia);
    font-size: var(--titulares);
}
main .banner {
    display: none;
}

main section article i.fas {
    color: var(--Verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }
  main section article .contenedor {
    position: relative;
    padding: 20px;
    border-top: 1px solid var(--Gris-claro);
  } 
  @media(min-width: 361px){
    main .banner {
        display: block;
    }
    main section article .contenedor h4 {
        display: block;
      }
    main section article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}


  